* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8fafc;

  .main-content {
    flex: 1;
    margin-left: 250px;
    display: flex;
    flex-direction: column;

    .content-area {
      margin-top: 70px;
      padding: 32px;
      min-height: calc(100vh - 70px);
    }
  }
}
